<ion-header>
  <ion-navbar>
    <ion-title>
      {{query}}
    </ion-title>
  </ion-navbar>
</ion-header>



<ion-content padding class="search">
  <ion-list *ngIf="items.length == 0">
    No Results
  </ion-list>

  <ion-list *ngIf="items.length > 0">
    <ion-item *ngFor="let item of items" (click)="open(item.given_url, $event)">
      <ion-thumbnail item-left>
        <img  *ngIf="item.has_image == 0" src="https://orchestrate.io/share.png"/>
        <img  *ngIf="item.has_image == 1" src="{{item.image.src}}"/>
      </ion-thumbnail>
      <h2>{{item.given_title}}</h2>
      <p>{{item.excerpt}}</p>
      <button clear item-right>View</button>
    </ion-item>
  </ion-list>
</ion-content>
