<ion-header>
  <ion-navbar>
    <ion-title>
      {{value}}
    </ion-title>
  </ion-navbar>
</ion-header>



<ion-content padding class="search">
  <ion-list *ngIf="items.length == 0">
    No Results
  </ion-list>

  <ion-list *ngIf="items.length > 0">
    <ion-item-sliding  *ngFor="let item of items" >
      <ion-item (click)="open(item, $event)">
        <ion-thumbnail item-left> 
          <img  *ngIf="item.has_image == 0" src="https://icons.better-idea.org/icon?url={{item.given_url.split('/')[2]}}&size=120"/>
          <img  *ngIf="item.has_image == 1" src="{{item.image.src}}"/>
        </ion-thumbnail>
        <h2>{{item.given_title}}</h2>
        <p>{{item.given_url}}</p>
        <p>{{item.excerpt}}</p>
        <h3>
          <button outline *ngFor="let tag of item.tags | split">{{tag}}</button>
        </h3>
      </ion-item>
      <ion-item-options>
        <button primary *ngIf="item.favorite == 1"  (click)="remove_star(item)">
          <ion-icon name="md-star"></ion-icon>
        </button>
        <button primary *ngIf="item.favorite != 1"  (click)="add_star(item)">
          <ion-icon name="star-outline"></ion-icon>
        </button>
        <button secondary  (click)="edit(item)">
          <ion-icon name="create"></ion-icon>
        </button>
        <button dark (click)="editCode(item)">
          <ion-icon name="code"></ion-icon>
        </button>
        <button danger (click)="delete(item)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
