
<ion-header>
  <ion-navbar>
  <ion-searchbar [(ngModel)]='searchQuery' 
    (ionInput)="onInput()"
     (ionBlur)="onBlur($event)"
     (ionFocus)="onFocus($event)"
     (ionCancel)="onCancel($event)"
     (ionClear)="onClear($event)"
    class="searchbar" autofocus></ion-searchbar>
</ion-navbar></ion-header>



<ion-content padding class="search" >

  <button fab-fixed fab-right fab-bottom round (click)="create(item)">
    <ion-icon name="add"></ion-icon>
  </button>

  <ion-list *ngIf="items.length == 0" >
    <ion-item *ngFor="let facet of facets" (click)="goto(facet.key, facet.value)">
      <ion-icon name="folder" item-left ></ion-icon>
        {{facet.value}}
    </ion-item>
  </ion-list>

  <ion-list *ngIf="items.length > 0">

    <ion-item-sliding  *ngFor="let item of items" >
      <ion-item (click)="open(item, $event)">
        <ion-thumbnail item-left> 
          <span  *ngIf="item.has_image == 0">
            <span [ngSwitch]="item.given_url.split('/')[3]">
              <img *ngSwitchCase="'drive'" src="/build/images/drive.png"/>
              <img *ngSwitchCase="'document'" src="/build/images/doc.png"/>
              <img *ngSwitchCase="'spreadsheets'" src="/build/images/sheets.png"/>
              <img *ngSwitchCase="'presentation'" src="/build/images/slides.png"/>
              <img *ngSwitchCase="'drawings'" src="/build/images/draw.png"/>
              <img *ngSwitchDefault  src="https://icons.better-idea.org/icon?url={{item.given_url.split('/')[2]}}&size=120" />
            </span>
          </span>
          <img  *ngIf="item.has_image == 1" src="{{item.image.src}}"/>
          <img  *ngIf="item.has_image == 1" src="{{item.image.src}}"/>
        </ion-thumbnail>
        <h2>{{item.given_title}}</h2>
        <p>{{item.given_url}}</p>
        <p>{{item.excerpt}}</p>
        <h3>
          <button outline *ngFor="let tag of item.tags | split">{{tag}}</button>
        </h3>
      </ion-item>
      <ion-item-options>
        <button primary *ngIf="item.favorite == 1"  (click)="remove_star(item)">
          <ion-icon name="md-star"></ion-icon>
        </button>
        <button primary *ngIf="item.favorite != 1"  (click)="add_star(item)">
          <ion-icon name="star-outline"></ion-icon>
        </button>
        <button secondary  (click)="edit(item)">
          <ion-icon name="create"></ion-icon>
        </button>
        <!--<button dark (click)="editCode(item)">
          <ion-icon name="code"></ion-icon>
        </button>-->
        <button danger (click)="delete(item)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>



  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
