<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="card-background-page">
  <div class="content">
    <ul>
      <li *ngFor="let item of marks">
        <ion-card >
          <div (click)="open(item.given_url, $event)">
          <ion-item>
            <ion-avatar item-left>
              <img src="https://icons.better-idea.org/icon?url={{item.resolved_url.split('/')[2]}}&size=120" />
            </ion-avatar>
            <h2>{{item.given_title}}</h2>
            <p>{{item.resolved_url.split("/")[2]}}</p>
          </ion-item>

          <ion-card-content  *ngIf="item && item.has_image == 0">{{item.excerpt}}</ion-card-content>
          <ion-card-content  *ngIf="!item">{{item.excerpt}}</ion-card-content>
          <section *ngIf="item && item.has_image == 1">
            <img  src="{{item.image.src}}"/>
          </section>
          </div>
          <ion-item>
              <button primary clear item-right>
                <ion-icon name="md-star"></ion-icon>
              </button>
              <button primary clear item-right>
                <ion-icon name="create"></ion-icon>
              </button>
              <button clear primary item-right (click)="editCode(item)">
                <ion-icon name="code"></ion-icon>
              </button>
          </ion-item>

        </ion-card>
      </li>
    </ul>
  </div>
</ion-content>


